#body-style {
 
  margin-inline: 200px;
  
}



#top-input {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  
  z-index: 1;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  padding-block: 30px;
  padding-inline: 30px;
  display: none;
  align-items: center;
  flex-direction: row;
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
  border-radius: 0.75rem;
  margin-bottom: 15px;
}
#ip-fields{
  display: flex;
  align-items: center;
  flex-direction: row;
}
#entire-first-fields{
  display: flex;
  align-items: center;
  flex-direction: row;
}

@media screen and (max-width: 1280px) {
  #top-input{
    width: 100%;
  }
  #body-style{
    margin-inline: 150px;
  }
}
@media screen and (max-width: 1000px){
  #entire-first-fields{
    display: flex;
    flex-direction: column;
    
  }

  #ip-fields{
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 800px){
  #body-style {
 
    margin-inline: 10px;
    
  }
}

@media screen and (min-width:800px) and  (max-width: 1000px){
  #body-style{
    margin-inline: 100px;
  }
}
@media screen and (max-width: 600px) {
  #first-row {
    display: flex;
    flex-direction: column;
  }
  #ip-fields{
    flex-direction: column;
  }

}

@media screen and (max-width: 400px) {
  #first-row {
    display: flex;
    flex-direction: column;
  }
}

#main-text {
  font-family: "Poppins", sans-serif;
  font-size: 110%;
  font-weight: 500;
}

#normal-text {
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 400;
}

#dropdown {
  width: 10rem;

  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 700;
  padding-inline: 20px;
  padding-block: 5px;
  background-color: whitesmoke;
  color: grey;
  border-color: grey;
}

#dropdown-item-text {
  padding-block: 20px;
  font-family: "Poppins", sans-serif;
  font-size: 100%;
  font-weight: 700;
}

#tags {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e7eaf0;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgb(50 50 71 / 8%);
  color: #16192c;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0.75rem 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}

#tags1 {
  appearance: none;
  background-clip: padding-box;
  background-color: #fff;
  border: 1px solid #e7eaf0;
  border-radius: 0.375rem;
  box-shadow: 0 1px 2px rgb(50 50 71 / 8%);
  color: #16192c;
  display: block;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.3;
  padding: 0.75rem 1.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  width: 100%;
}


#btnnnn {
  background-color: #f9fafb;
  color: #3b82f6;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  border: none;
}

#btnnnn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

#btnnnn:focus::before {
  transform: scale(0.95);
  transition: all 0.5 linear;
}

button.btn.demo-btn.first-demo-btn {
  background-color: #75d6ff;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: white;
  cursor: pointer;
  display: inline-block;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 1em;
  height: 50px;
  padding: 0 55px;
  text-align: center;
  transition: all 200ms;
}

#btn {
  background-color: #75d6ff;
  border-radius: 50px;
  border-width: 0;
  box-shadow: rgba(25, 25, 25, 0.04) 0 0 1px 0, rgba(0, 0, 0, 0.1) 0 3px 4px 0;
  color: white;
  cursor: pointer;
  display: inline-block;

  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 0.9em;
  height: 50px;
  padding: 0 25px;
  text-align: center;
  transition: all 200ms;
}
button.first-demo-btn:hover {
  background-color: #afe6c3;
  transform: scale(1.05);
}

button.first-demo-btn:active {
  background-color: #afe6c3;
  transform: scale(0.9);
}


#more-details{
 
  width:fit-content;
  height: fit-content;
  padding-block: 12px;
  padding-inline: 20px;
  display: none;
  border-radius: 1.5rem;
  border: 1px solid black;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

#graph-body {
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
  
  padding-inline: 15px;
  padding-block: 15px;
  margin-top: 40px;
  border-radius: 0.75rem;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
}

#graph-text {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 0.9em;
  color: grey;
  width: 70%;
}

#message-area {
  display: flex;
  flex-direction: row;
  
  align-items: center;
}
#message{
  width: 85%;
  padding-right: 20px;
}
#message-body{
  background-color: #f5f9fc;
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
  padding-block: 0px;
  border-radius: 0.75rem;
  font-family: "Poppins", sans-serif;
  font-size: 75%;
  font-weight: 400;
}
#deep-dive{
  margin-left: auto;
  margin-right: 0;
  width:fit-content;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 90%;
  font-weight: 400;
}

#mob-input {

  width: auto;
  height: 20rem;
  margin-inline: 400px;
  margin-top:120px;
  padding-inline: 15px;
  border-radius: 0.75rem;
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
}
@media screen and (max-width: 1600px) {
  #mob-input {
    margin-inline: 150px;
    width: auto;
  }
}
@media screen and (max-width: 1280px) {
  #mob-input {
    margin-inline: 100px;
    width: auto;
  }

  #main-text{
    font-size: 90%;
  }
}
@media screen and (max-width: 600px) {
  #mob-input {
    margin: auto;
    width: 100%;
  }
}

@media screen and (max-width: 400px) {
  #mob-input {
    margin: auto;
    width: 100%;
  }

  #main-text {
    font-family: "Poppins", sans-serif;
    font-size: 80%;
    font-weight: 500;
  }
}

#log-body {
  visibility: hidden;
  width: 100%;
  margin-top: 20px;
  padding-inline: 15px;
  border-radius: 0.75rem;
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in;

}
#wiki-body {
  visibility: hidden;
  width: 100%;
  margin-top: 20px;
  padding-inline: 15px;
  border-radius: 0.75rem;
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in;

}

@media screen and (max-width: 400px) {
  #log-body {
    width: 100%;
    margin-left: 0px;
  }
}

#loader{
  display: none;
  justify-content: center;
}


#row-of-links {
  display: flex;
  flex-direction: row;
}

#static-links{
  padding-inline-end: 20px;
  width: 40%;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 400;
}
#dynamic-links{
  padding-inline: 20px;
  border-left: 0.5px solid rgba(0, 0, 0, 0.2); ;
  width: 60%;
  background-color: white;
  font-family: "Poppins", sans-serif;
  font-size: 80%;
  font-weight: 400;
}

@media screen and (max-width: 700px){
  #row-of-links{
    flex-direction: column;
  }
  #static-links{
    width: 100%;
    padding-bottom: 20px;
  }
  #dynamic-links{
    border-left: 0px solid rgba(0, 0, 0, 0.2); ;
    width: 100%;
    padding-inline-start: 0px;
  }
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

#actions{
  display: flex;
  flex-direction: row;
}
#actions-container{
  display: flex;
  flex-direction: row;
  width :30%;
  align-items: center;
} 

#product-view{
  margin-left: auto;
  margin-right: 0;
}

#tele-body {
  visibility: hidden;
  width: 100%;
  margin-top: 20px;
  padding-inline: 15px;
  border-radius: 0.75rem;
  box-shadow: 0 3px 3px -1px rgb(10 22 70 / 10%), 0 0 1px 0 rgb(10 22 70 / 6%);
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in;